{% extends "app.html" %}
{% block main %}
<center>
<h1>Login</h1>
	<form action="{% url django.contrib.auth.views.login %}" id="submit" method="post">{% csrf_token %}
	{{ form.as_p }}
	<input type="hidden" name="next" value="{{ next }}" />
</form>
</center>
{% endblock %}

{% block footer %}
	<div onclick="submit()" id="center" class="button" style="width:80%;cursor:pointer;">Login</a>
{% endblock %}

{% block javascript %}
    function load() {}
    function unload() {}
    function submit() {
    	document.forms["submit"].submit();

	}
{% endblock %}
