{% extends "app.html" %}
{% block main %}
<h1>Register</h1>
	<form action="" id="submit" method="post">{% csrf_token %}
	{{ form.as_p }}
</form>
{% endblock %}

{% block footer %}
	<div onclick="submit()" id="center" class="button" style="width:80%;cursor:pointer;">Submit</a>
{% endblock %}

{% block javascript %}
    function load() {}
    function unload() {}
    function submit() {
    	document.forms["submit"].submit();

	}
{% endblock %}
