* {
	margin: 0;
}

html, body, .main, .wrap {

	height: 100%;
	background-color: #333;
	color:#9e9b9e;
	font-family:arial;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 142px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/


/* BUTTON CSS */

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background-color:#570000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	color:#9e9b9e;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	text-align: center;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
	background-color:#570000;
}

.button:active {
	position:relative;
	top:1px;
}

a[disabled], a[disabled]:hover, a[disabled]:active {
	background-color:#333;
	color:#000;
}