<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ MEDIA_URL }}images/apple-touch-icon-iphone4.png" />
		
        <title>Outbreak48</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" />
        {% block link_css %}{% endblock %}
        <style>
        {% block css %}{% endblock %}
		body { padding-top: 12px; }
        </style>

        <!-- JavaScript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        {% block link_js %}{% endblock %}
                
    </head>
    <body onload="load()" onunload="unload()">
        <div class="wrap">
            <div class="main">
                {% block main %}{% endblock %}
            </div>
            <div class="push"></div>
        </div>
        <div class="footer">
            {% block footer %}{% endblock %}
        </div>

        <script>
            {% block javascript %}
            function load() {}
            function unload() {}
            {% endblock %}
			
			$(document).ready(
				function() {
					$('a[href]').bind('click',
						function(e) {
							if($(this).attr('href') != 'javascript:;') {
								if($(this).attr('href') != '#') {
									e.preventDefault();
									window.location = $(this).attr('href');
								}
							}
						}
					);
				}
			);
        </script>
    </body>
</html>