{% extends "app.html" %}

{% block css %}

#space {
	height:100px;
}


#timer {
	
}
{% endblock %}

{% block main %}
<center>
Please wait while we attempt to establish a Cure Center...

<div id="space"></div>
<div id="timer"></div>
<form action="" id="submit" method="post">{% csrf_token %}</form>

</center>
{% endblock %}

{% block footer %}
	<!--a href="/" id="center" class="button">Back</a-->
{% endblock %}

{% block javascript %}
var seconds = {{ cure_time }};
var interval = null;
function load() {

	show_seconds();
	setInterval(function() {

		if(seconds <= 0)
		{
			clearInterval(interval);
			document.forms["submit"].submit();
		}
		else
		{
			--seconds;
			show_seconds();
		}
	}, 1000);
	
}

function show_seconds() {
	$("#timer").html("<h1>" + Math.max(seconds, 0) + "<h1>");
}

function count_down() {

}

function unload() {}
{%  endblock %}

