{% extends "app.html" %}
{% block main %}
<center>
{% if cured %}
<p>Congratulations! You successfully created a Cure Center!</p>
<p><h2>You Are Cured!</h2></p>
{% else %}
Your attempt was unsuccessful! You have not met the requirements.
{% endif %}
</center>
{% endblock %}

{% block footer %}
	<a href="/" id="center" class="button">Back</a>
{% endblock %}

