{% extends "app.html" %}
{% block link_js %}
	<script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
{% endblock %}

{% block link_css %}
	<link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
{% endblock %}

{% block css %}

.button {

	width:20%;
}

#top {
	margin: 7px;
}

#map {
	width:100%;
	height: 300px;
}

#events {
	 position:absolute;
	 width:30%;
	 height: 300px;
	 left: 70%;
	 top:7px;
	 background-color:#000;
}

img.task { max-width: 50px; }
#pickup, #cure { width: 100px; height: 35px; display: block; line-height: 35px; }
#pickup { float: left; }
#cure { float: right; }
#logout { display: block; clear: both; background: #000; }

{% endblock %}

{% block main %}
	<div id="top">
		<div id="map"></div>
		<!--div id="events"></div-->
	</div>

	{% if is_infected %}

	<div class="tasks">
		<center>
		{% for task in tasks %}
    		{% if task %}
    			<a id="task{{ forloop.counter }}" href="javascript:;"><img class="task" src="{{MEDIA_URL}}images/item1.png" /></a>
    		{% else %}
    			<img class="task" src="{{MEDIA_URL}}images/blankitem.png" />
    		{% endif %}
		{% endfor %}
		</center>
	</div>

	<div class="navbar">
		<center>
			<a id="pickup" href="javascript:;" class="button" disabled>Get Object</a>
			<a id="cure" href="/cure" class="button" disabled>Attempt Cure</a>
			<a id="logout" href="/accounts/logout/" class="button">Log Out</a>
		</center>
	</div>

	{% else %}
	
	<div style="width:100%; text-align:center">
		<h2>You Are Cured!</h2>
		<p>Congratulations. There are 47 days until the next game starts.</p>
		
		<p>Your current score is</p>
		<h3>1,224,830</h3>
	</div>

	<div class="navbar">
		<center>
			<a href="/accounts/logout/" class="button">Log Out</a>
		</center>
	</div>

	{% endif %}

{% endblock %}

{% block javascript %}

// Map data © 2011 OpenStreetMap contributors, Imagery © 2011 CloudMade 
var map = new L.Map('map');

var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/5576aaf41d114a8a8e57a0391678cc5f/997/256/{z}/{x}/{y}.png',
    cloudmadeAttribution = '',
    cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

map.addLayer(cloudmade);

map.locateAndSetView(16);

map.on('locationfound', onLocationFound);

var PersonIcon = L.Icon.extend({
    iconUrl: '{{MEDIA_URL}}images/you.png',
    iconSize: new L.Point(17, 17),
    shadowSize: new L.Point(0, 0),
    iconAnchor: new L.Point(6, 11),
});

var ObjectIcon = L.Icon.extend({
    iconUrl: '{{MEDIA_URL}}images/item1.png',
    iconSize: new L.Point(32, 32),
    shadowSize: new L.Point(0, 0),
    iconAnchor: new L.Point(14, 18),
});

var CCIcon = L.Icon.extend({
    iconUrl: '{{MEDIA_URL}}images/cure-pin.png',
    iconSize: new L.Point(64, 64),
    shadowSize: new L.Point(0, 0),
    iconAnchor: new L.Point(21, 42),
});

function onLocationFound(e) {
    var radius = e.accuracy / 2;

    var marker = new L.Marker(e.latlng, {icon: new PersonIcon()});
    map.addLayer(marker);

    var circle = new L.Circle(e.latlng, radius);
    map.addLayer(circle);
}

var objects = [{% for task in near %}
	{
		id: {{ task.pk }},
		name: '{{ task.name|escapejs }}',
		proximity: {{ task.proximity }}
	}{% if not forloop.last %},{% endif %}{% endfor %}
];

{% for task in near %}
	map.addLayer(
		new L.Marker(
			new L.LatLng({{ task.latitude }}, {{ task.longitude }}),
			{
				icon: new ObjectIcon()
			}
		)
	);
{% endfor %}

{% for center in near_centers %}
	map.addLayer(
		new L.Marker(
			new L.LatLng({{ center.latitude }}, {{ center.longitude }}),
			{
				icon: new CCIcon()
			}
		)
	);
{% endfor %}

$(document).ready(
	function() {
		$('#pickup').bind('click',
			function(e) {
				var obj = null;
				for(var i = 0; i < objects.length; i ++) {
					obj = objects[i];
					if(obj.proximity <= 1) {
						if(confirm('Are you sure you want to pick up the object at ' + obj.name + '?')) {
							window.location = '/pickup/' + obj.id + '/';
						}
						
						return;
					}
				}
				
				alert('No nearby objects found.');
			}
		);
		
		var tasks = 0;
		{% for task in tasks %}{% if task %}
		tasks ++;
		$('#task{{ forloop.counter }}').bind('click',
			function(e) {
				alert('{{ task.name|escapejs }}');
			}
		);
		{% endif %}{% endfor %}
		
		for(var i = 0; i < objects.length; i ++) {
			obj = objects[i];
			if(obj.proximity <= 1) {
				$('#pickup').removeAttr('disabled');
				break;
			}
		}
		
		if(tasks >= 5) {
			$('#cure').removeAttr('disabled');
		}
		
		$('a[disabled]').unbind('click');
		$('a[disabled]').removeAttr('href');
	}
);

function load() {}
function unload() {}
	
{% endblock %}