{% extends "app.html" %}
{% block main %}
	<center>
	<img src="{{ MEDIA_URL }}images/hazard.png"/>
	</center>
{% endblock %}

{% block footer %}
	<a href="/accounts/login" id="center" class="button" style="width:80%;">Login</a>
	<a href="/accounts/register" id="center" class="button" style="width:80%;">Register</a>
{% endblock %}