{% extends "app.html" %}
{% block main %}
<center>
{% if result %}
Congratulations! You picked up an object at {{ result }}!
{% else %}
Sorry! There is not an object in your locale.
{% endif %}
</center>
{% endblock %}

{% block footer %}
	<a href="/" id="center" class="button">Back</a>
{% endblock %}

